metadata_generation/error.log
tags
svg_rendering/out2
target
.classpath
.project
.settings/
.ipynb_checkpoints
.ropeproject
__pycache__
node
node_modules

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.vscode
